In [3]:
import pandas as pd
import yfinance as yf

In [5]:
# Define tickers
tickers = {
    "DAX": "^GDAXI", ## German
    "FTSE_MIB": "FTSEMIB.MI", ## Italuan
    "CAC_40": "^FCHI", ## France
    "IBEX_35": "^IBEX", ## Spain
    "Eurofirst 50": "^STOXX50E"  # Pan-European
}

data = []
for name, ticker in tickers.items():
    df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
    series = df['Close']
    series.name = name  # safer than .rename()
    data.append(series)

# Combine all series into a single DataFrame aligned by date
all_indices = pd.concat(data, axis=1)

print(all_indices.head())

C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\661623302.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\661623302.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\661623302.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\661623302.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed
C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\661623302.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start="2009-01-01", end="2025-09-30")
[*********************100%***********************]  1 of 1 completed

Ticker           ^GDAXI  FTSEMIB.MI        ^FCHI        ^IBEX    ^STOXX50E
Date
2009-01-02  4973.069824     19953.0  3349.689941  9486.290039          NaN
2009-01-05  4983.990234     20262.0  3359.919922  9644.089844  2553.409912
2009-01-06  5026.310059     20729.0  3396.219971  9723.990234  2578.429932
2009-01-07  4937.470215     20606.0  3346.090088  9569.990234  2538.550049
2009-01-08  4879.910156     20630.0  3324.330078  9469.490234  2516.560059

In [7]:
all_indices2 = pd.DataFrame(all_indices)
all_indices2

Ticker            ^GDAXI  FTSEMIB.MI        ^FCHI         ^IBEX    ^STOXX50E
Date
2009-01-02   4973.069824     19953.0  3349.689941   9486.290039          NaN
2009-01-05   4983.990234     20262.0  3359.919922   9644.089844  2553.409912
2009-01-06   5026.310059     20729.0  3396.219971   9723.990234  2578.429932
2009-01-07   4937.470215     20606.0  3346.090088   9569.990234  2538.550049
2009-01-08   4879.910156     20630.0  3324.330078   9469.490234  2516.560059
...                  ...         ...          ...           ...          ...
2025-09-23  23611.330078     42478.0  7872.020020  15158.200195  5472.390137
2025-09-24  23666.810547     42423.0  7827.450195  15194.599609  5464.560059
2025-09-25  23534.830078     42242.0  7795.419922  15153.700195  5444.890137
2025-09-26  23739.470703     42646.0  7870.680176  15350.400391  5499.700195
2025-09-29  23745.060547     42554.0  7880.870117  15316.299805  5506.850098

[4286 rows x 5 columns]

In [9]:
all_indices2.to_csv("Daily_data_points\Equity.csv")

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\Ricks\AppData\Local\Temp\ipykernel_18036\3002792953.py:1: SyntaxWarning: invalid escape sequence '\E'
  all_indices2.to_csv("Daily_data_points\Equity.csv")